p {
    color: burlywood;
}

h2 {
    color: red;
}

.warna-kuning{
    color: yellow;
    background-color: black;
}

.font-bagus{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}